@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import 'root';

body {
    font-family: var(--unnamed-font-family-proxima-nova);
    margin: 0;
    padding: 0;
}

.page-container {
    padding: var(--unnamed-padding-0)  var(--unnamed-padding-88) var(--unnamed-padding-16) var(--unnamed-padding-88);

    @media (max-width: 768px) {
        padding: var(--unnamed-padding-28) !important;
    }
}

.new-item-tag {
    background: var(--white-ffffff);
    width: fit-content;
    font-weight: var(--unnamed-font-weight-bold);
    padding: var(--unnamed-padding-8) var(--unnamed-padding-12);
}

.header-hero-banner-section {
    @media (min-width: 768px) {
        background-image: url('../assets/img/hero-banner-background.png');
        background-color: var(--athens-gray-eef2f4);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 78% 108%;
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        background-position-y: 50%;
        background-position-x: 56%;
    }
}


.btn {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
    padding: var(--unnamed-padding-12)  var(--unnamed-padding-40);
    letter-spacing: var(--unnamed-character-spacing-0);
    cursor: pointer;

    &.btn-default {
        background-color: transparent;
        border: 1px solid var(--oxford-blue-354e57);
        color: var(--rangitoto-2e2e22);
        opacity: 1;

        &:hover {
            background: var(--white-ffffff) 0% 0% no-repeat padding-box;
            border: 1px solid var(--oxford-blue-354e57);
            opacity: 1;
        }

        &.diabled {
            border: 1px solid var(--oxford-blue-354e57);
            background: var(--gray-e4ecef) 0% 0% no-repeat padding-box;
            opacity: 1; 
        }
    }

    &.btn-primary {
        background: var(--cape-palliser-a67744) 0% 0% no-repeat padding-box;
        border: 1px solid var(--brown-956a53);
        color: var(--white-ffffff);
        opacity: 1;

        &:hover {
            background: var(--brown-9a6b39) 0% 0% no-repeat padding-box;
            border: 1px solid var(--brown-956a53);
            opacity: 1;
        }

        &.disabled {
            background: var(--white-ffffff) 0% 0% no-repeat padding-box;
            border: 1px solid var(--brown-956a53);
            color: var(--brown-9a6b39);
            opacity: 1;
        }
    }

    &.btn-secondary {
        background: var(--oxford-blue-354e57) 0% 0% no-repeat padding-box;
        color: var(--white-ffffff);
        border-radius: 3px;
        opacity: 1;

        &:hover {
            background: var(--blue-2b434b) 0% 0% no-repeat padding-box;
        }

        &.disabled {
            background: var(--gray-b9c1c4) 0% 0% no-repeat padding-box;
            color: var(--oxford-blue-354e57);
        }
    }

    @media (max-width: 768px) {
        font-size: var(--unnamed-font-size-12);
    }
}

.form-input {
    background: var(--white-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--gray-bacad1);
    border-radius: 3px;
    box-shadow: none;
    padding: var(--unnamed-padding-8) var(--unnamed-padding-16);
    opacity: 1;

    &::placeholder {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--oxford-blue-354e57);
        opacity: 1;
    }
}

.navigator-link {
    text-align: center;
    padding: var(--unnamed-padding-8) var(--unnamed-padding-0);
    &:hover {
        background: var(--gray-e0e3e8);
        cursor: pointer;
    }
}

.pointer-cursor {
    cursor: pointer;
}