.teaser-container {
  background-color: var(--athens-gray-eef2f4);
}

.teaser-container.natural-ingredients-container .details-section {
  height: var(--unnamed-height-512);
  background-color: var(--siler-rust-c6b9b6) !important;
}

@media (max-width: 767px) {
  .teaser-container.natural-ingredients-container .details-section {
    margin-top: calc(var(--unnamed-margin-6)*-1);
  }
}

.teaser-container.natural-ingredients-container .image-section img {
  max-height: var(--unnamed-height-512);
}

.teaser-container .details-section {
  height: var(--unnamed-height-576);
  display: var(--unnamed-display-flex);
  background-color: var(--como-547665);
}

.teaser-container .details-section .text-container {
  margin: var(--unnamed-margin-auto);
  width: var(--unnamed-width-68);
}

.teaser-container .details-section .text-container .headline-4-28pt,
.teaser-container .details-section .text-container .body-3-12pt {
  color: var(--white-ffffff);
  margin-bottom: var(--unnamed-margin-16);
}

.teaser-container .details-section .text-container button {
  color: var(--white-ffffff);
  border-color: var(--white-ffffff);
}

.teaser-container .details-section .text-container button:hover {
  color: var(--rangitoto-2e2e22);
  border-color: var(--oxford-blue-354e57);
}

.teaser-container .image-section {
  max-height: var(--unnamed-height-576);
  overflow: hidden;
}
