.secondary-banner-container {
  background-color: var(--alabasterr-f7f7f7);
  padding: var(--unnamed-padding-44);
  text-align: var(--unnamed-text-align-center);
  border: var(--unnamed-border-1-solid) var(--como-547665);
}
