//@import 'css/style.scss';


@media (max-width: 767px) {
    .hero-banner-container {
        padding: var(--unnamed-padding-0) !important;

        
        .hero-banner-heading {
            position: var(--unnamed-position-relative) !important;
            top: var(--unnamed-top-0) !important;
            padding: var(--unnamed-padding-28);
            background-color: var(--gray-e0e3e8);

            div {
                margin-bottom: var(--unnamed-margin-16);
            }

            .body-1-—-14pt {
                font-size: var(--unnamed-font-size-16);
            }
        }

        .hero-banner-product-image-xs {
            min-height:  var(--unnamed-height-455);
            position: var(--unnamed-position-relative);
            background-image: url('../../assets/img/hero-banner-background.png');
            background-color: var(--gray-e0e3e8);
            background-position-x: var(--unnamed-background-position-x-76);
            background-repeat: var(--unnamed-background-repeat-no-repeat);

        }

        .visible-lg {
            display: var(--unnamed-display-none) !important;
        }
    
        .visible-xs {
            display: var(--unnamed-display-block) !important;
        } 

        .text-align-center {
            text-align: var(--unnamed-text-align-center);
        }
    }   
}

@media (min-width:768px) and (max-width: 1200px) {
    .hide-lg {
        display: var(--unnamed-display-none) !important;
    }

    .visible-sm {
        display: var(--unnamed-display-block) !important;
    }

    .hero-banner-heading {
        top: var(--unnamed-top-26-px) !important;

        div {
            margin-bottom: var(--unnamed-margin-16);
        }
    }
}

@media (min-width: 768px) {
    .hero-banner-container {
        overflow: hidden;
        position: var(--unnamed-position-relative);
        height: var(--unnamed-height-100);
        padding: var(--unnamed-padding-0) var(--unnamed-padding-116);

        .hero-banner-heading {
            position: var(--unnamed-position-absolute);
            top: var(--unnamed-top-124-px);
    
            div {
                margin-bottom: var(--unnamed-margin-16);
            }
        }       

        .visible-lg {
            display: var(--unnamed-display-block);
        }
    
        .visible-xs,
        .visible-sm {
            display: var(--unnamed-display-none);
        }
    }   
}