@media (max-width: 767px) {
  .header {
    background-color: var(--gray-e0e3e8);
  }
  .header .visible-lg {
    display: var(--unnamed-display-none) !important;
  }
  .header .visible-xs {
    display: var(--unnamed-display-flex) !important;
  }
  .header .header-menus {
    -webkit-box-align: var(--unnamed-align-item-center);
        -ms-flex-align: var(--unnamed-align-item-center);
            align-items: var(--unnamed-align-item-center);
    padding: var(--unnamed-padding-0) !important;
  }
}

.header .header-menus {
  padding: var(--unnamed-padding-28) var(--unnamed-padding-0);
}

.header .header-menus .cart-login-menu {
  display: var(--unnamed-display-flex) !important;
  -webkit-box-pack: var(--unnamed-justify-content-flex-end);
      -ms-flex-pack: var(--unnamed-justify-content-flex-end);
          justify-content: var(--unnamed-justify-content-flex-end);
}

.header .header-menus .cart-login-menu div {
  margin-right: var(--unnamed-margin-24);
}

.header .header-submenu {
  margin: var(--unnamed-margin-0) var(--unnamed-margin-auto);
  float: none !important;
}

@media (min-width: 768px) {
  .header .text-align-center {
    text-align: var(--unnamed-text-align-center);
  }
}

@media (min-width: 768px) {
  .header .text-align-right {
    text-align: var(--unnamed-text-align-right);
  }
}

.header .visible-xs {
  display: var(--unnamed-display-none);
}

.header .visible-lg {
  display: var(--unnamed-display-block);
}

.mobile-menus-container {
  background-color: var(--alabasterr-f7f7f7);
  padding: var(--unnamed-padding-50);
  visibility: var(--unnamed-visibility-hidden);
  position: var(--unnamed-position-fixed);
  z-index: 10;
  top: var(--unnamed-top-0);
  height: var(--unnamed-height-100);
  width: var(--unnamed-width-100);
}

.mobile-menus-container .menu-header-section {
  display: var(--unnamed-display-flex);
  -webkit-box-pack: var(--unnamed-justify-content-space-between);
      -ms-flex-pack: var(--unnamed-justify-content-space-between);
          justify-content: var(--unnamed-justify-content-space-between);
  -webkit-box-align: var(--unnamed-align-item-center);
      -ms-flex-align: var(--unnamed-align-item-center);
          align-items: var(--unnamed-align-item-center);
}

.mobile-menus-container .sub-menu-list {
  padding: var(--unnamed-padding-44) var(--unnamed-padding-0);
}

.mobile-menus-container .sub-menu-list div {
  padding: var(--unnamed-padding-20) var(--unnamed-padding-0);
}

.mobile-menus-container .sub-menu-list div.headline-5-18pt {
  font-size: var(--unnamed-font-size-24);
}

.mobile-menus-container .menu-list div {
  padding: var(--unnamed-padding-16) var(--unnamed-padding-0);
}
