@charset "UTF-8";
@media (max-width: 767px) {
  .footer-container {
    padding: var(--unnamed-padding-88) var(--unnamed-padding-28) !important;
  }
  .footer-container .form-input {
    width: calc(100% - 150px);
  }
  .visible-xs {
    display: var(--unnamed-display-block) !important;
  }
  .visible-lg {
    display: var(--unnamed-a-none) !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    padding: var(--unnamed-padding-88) var(--unnamed-padding-28) !important;
  }
}

.footer-container {
  font-family: var(--unnamed-font-family-proxima-nova);
  background-color: var(--oxford-blue-354e57);
  color: var(--white-ffffff);
  padding: var(--unnamed-padding-116);
}

.footer-container .visible-xs {
  display: var(--unnamed-display-none);
}

.footer-container .visible-lg {
  display: var(--unnamed-display-block);
}

.footer-container .subscribe-section {
  padding-bottom: var(--unnamed-padding-88);
  border-bottom: var(--unnamed-border-1-solid) var(--white-ffffff);
}

.footer-container .subscribe-section ul {
  padding-left: var(--unnamed-padding-0);
}

.footer-container .subscribe-section ul li {
  cursor: pointer;
  width: var(--unnamed-width-fit-content);
  display: var(--unnamed-display-block);
  font-size: var(--unnamed-font-size-14);
  padding-bottom: var(--unnamed-padding-8);
}

.footer-container .subscribe-section ul li:hover {
  text-decoration: underline;
}

.footer-container .social-contact-section {
  padding-top: var(--unnamed-padding-44);
}

.footer-container .social-contact-section .section-heading {
  padding-bottom: var(--unnamed-padding-16);
}

.footer-container .social-contact-section .navigation-link {
  cursor: pointer;
  color: var(--white-ffffff);
  font-size: var(--unnamed-font-size-14);
}

.footer-container .social-contact-section .navigation-link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer-container .social-contact-section div:nth-child(2) div.aem-GridColumn--phone--12:nth-child(1) {
    margin-bottom: var(--unnamed-margin-30) !important;
  }
}

.footer-container .headline-—-48pt,
.footer-container .body-1-—-14pt {
  color: var(--white-ffffff);
}

.footer-container .form-input-section {
  padding-top: var(--unnamed-padding-44);
}

.footer-container .form-input-section .form-input {
  color: var(--white-ffffff);
  background-color: var(--oxfort-blue-354e57);
  border-radius: var(--unnamed-border-radius-0);
}

.footer-container .form-input-section .form-input::-webkit-input-placeholder {
  color: var(--white-ffffff);
  font-size: var(--unnamed-font-size-12);
}

.footer-container .form-input-section .form-input:-ms-input-placeholder {
  color: var(--white-ffffff);
  font-size: var(--unnamed-font-size-12);
}

.footer-container .form-input-section .form-input::-ms-input-placeholder {
  color: var(--white-ffffff);
  font-size: var(--unnamed-font-size-12);
}

.footer-container .form-input-section .form-input::placeholder {
  color: var(--white-ffffff);
  font-size: var(--unnamed-font-size-12);
}

.footer-container .form-input-section .btn-subscribe {
  padding: var(--unnamed-padding-8) var(--unnamed-padding-16);
  margin-left: calc(var(--unnamed-margin-6) * -1);
  background-color: var(--oxfort-blue-354e57);
  color: var(--white-ffffff);
  border: var(--unnamed-border-1-solid) var(--white-ffffff);
}
