@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@import './aem-grid-12.scss';

:root {
    // COLORS
    --cape-palliser-a67744: #a67744;
    --brown-9a6b39: #9a6b39;
    --brown-956a53: #956A53;
    --beige-f7f5e6: #f7f5e6;
    --alabasterr-f7f7f7: #f7f7f7;
    --athens-gray-eef2f4: #eef2f4;
    --gray-e4ecef: #e4ecef;
    --gray-b9c1c4: #b9c1c4;
    --gray-bacad1: #bacad1;
    --gray-e0e3e8: #e0e3e8;
    --siler-rust-c6b9b6: #c6b9b6;
    --oxford-blue-354e57: #354e57;
    --blue-2b434b: #2b434b;
    --como-547665: #547665;
    --mischka-d7ccdd: #d7ccdd;
    --rangitoto-2e2e22: #2e2e22;
    --punch-de3b35: #3554de;
    --blue-0014ff: #0014ff;
    --white-ffffff: #ffffff;
    

    //TYPOGRAPHY
    --unnamed-font-family-proxima-nova:  'proxima-nova-2', sans-serif;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;    
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-32: 32px;
    --unnamed-font-size-40: 40px;
    --unnamed-font-size-48: 48px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-16: 16px;
    --unnamed-line-spacing-17: 17px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-34: 34px;
    --unnamed-line-spacing-38: 38px;
    --unnamed-line-spacing-48: 48px;
    --unnamed-line-spacing-58: 58px;
    

    //Padding Variables
    --unnamed-padding-0: 0;
    --unnamed-padding-8: 8px;
	--unnamed-padding-10: 10px;
    --unnamed-padding-12: 12px;
	--unnamed-padding-14: 14px;
    --unnamed-padding-16: 16px;
	--unnamed-padding-20: 20px;
    --unnamed-padding-28: 28px;
	--unnamed-padding-32: 32px;
	--unnamed-padding-36: 36px;
    --unnamed-padding-40: 40px;
    --unnamed-padding-44: 44px;
	--unnamed-padding-48: 48px;
	--unnamed-padding-50: 50px;
	--unnamed-padding-56: 56px;
	--unnamed-padding-58: 58px;
	--unnamed-padding-82: 82px;
    --unnamed-padding-88: 88px;
    --unnamed-padding-116: 116px;
	--unnamed-padding-140: 140px;
	--unnamed-padding-180: 180px;
    --unnamed-padding-206: 206px;
	
    //Margin Variables
    --unnamed-margin-0: 0;
	--unnamed-margin-6: 6px;
	--unnamed-margin-8: 8px;
	--unnamed-margin-10: 10px;
	--unnamed-margin-16: 16px;
	--unnamed-margin-20: 20px;
	--unnamed-margin-24: 24px;
	--unnamed-margin-28: 28px;
	--unnamed-margin-30: 30px;
	--unnamed-margin-40: 40px;
	--unnamed-margin-48: 48px;
	--unnamed-margin-72: 72px;
    --unnamed-margin-auto: auto;

    //Visible Variables
	--unnamed-visibility-hidden: hidden;
	--unnamed-visibility-visible: visible;
    
    //Text Align Variables
    --unnamed-text-align-center: center;
    --unnamed-text-align-left: left;
    --unnamed-text-align-right: right;
	--unnamed-align-item-center: center;
	
	--unnamed-justify-content-flex-end: flex-end;
	--unnamed-justify-content-space-between: space-between;
	
    // Display Variables
	--unnamed-display-block: block;
	--unnamed-display-none: none;
	--unnamed-display-flex: flex;
	--unnamed-display--inline-block: inline-block;
	
    //Position Variables
	--unnamed-position-fixed: fixed;
	--unnamed-position-relative: relative;
	--unnamed-position-absolute: absolute;
	
    //Border Variables
	--unnamed-border-1-solid: 1px solid;
	--unnamed-border-radius-0: 0;
	

    //Top Variables
	--unnamed-top-0: 0;
	--unnamed-top-14: 14%;
	--unnamed-top-16-px: 16px;
	--unnamed-top-26-px: 26px;
	--unnamed-top-124-px: 124px;
	

	--unnamed-right-38: 38%;
	

	--unnamed-left-16: 16%;
	--unnamed-left-44: 44%;
	--unnamed-left-46: 46%;
	--unnamed-left-50: 50%;
	--unnamed-left-54: 54%;
	--unnamed-left-68: 68%;
	--unnamed-left-72: 72%;
	--unnamed-left-16-px: 16px;
	
	--unnamed-bottom-18: 18%;
	--unnamed-bottom-26: 26%;
	--unnamed-bottom-36: 36%;
	--unnamed-bottom-58: 58%;
	--unnamed-bottom-64: 64%;
	
	--unnamed-height-100: 100vh;
	--unnamed-height-fit-content: fit-content;
	--unnamed-height-250: 250px;
	--unnamed-height-300: 300px;
	--unnamed-height-436: 436px;
	--unnamed-height-455: 455px;
	--unnamed-height-512: 512px;
	--unnamed-height-576: 576px;
	
	
	--unnamed-width-100: 100vw;
	--unnamed-width-60: 60%;
	--unnamed-width-65: 65%;
	--unnamed-width-68: 68%;
	--unnamed-width-80: 80%;
	--unnamed-width-88: 88%;
	--unnamed-width-100-per: 100%;
	--unnamed-width-fit-content: fit-content;
	
	--unnamed-background-position-x-76: 76%;
	--unnamed-background-repeat-no-repeat: no-repeat;
	--unnamed-background-size-cover: cover;	
}


.headline-—-48pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-48);
    line-height: var(--unnamed-line-spacing-58);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.headline-2-—-40pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.headline-3-32pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.headline-4-28pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-34);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.headline-5-18pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.headline-6-14pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--rangitoto-2e2e22);
}



.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}


.body-1-—-14pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.body-2-14pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
}

.body-3-12pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--rangitoto-2e2e22);
}


body {
    font-family: var(--unnamed-font-family-proxima-nova);
    margin: 0;
    padding: 0;
}

.page-container {
    padding: var(--unnamed-padding-0)  var(--unnamed-padding-88) var(--unnamed-padding-16) var(--unnamed-padding-88);

    @media (max-width: 768px) {
        padding: var(--unnamed-padding-28) !important;
    }
}

.new-item-tag {
    background: var(--white-ffffff);
    width: fit-content;
    font-weight: var(--unnamed-font-weight-bold);
    padding: var(--unnamed-padding-8) var(--unnamed-padding-12);
}

.header-hero-banner-section {
    @media (min-width: 768px) {
        background-image: url('../assets/img/hero-banner-background.png');
        background-color: var(--athens-gray-eef2f4);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 78% 108%;
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        background-position-y: 50%;
        background-position-x: 56%;
    }
}


.btn {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
    padding: var(--unnamed-padding-12)  var(--unnamed-padding-40);
    letter-spacing: var(--unnamed-character-spacing-0);

    &.btn-default {
        background-color: transparent;
        border: 1px solid var(--oxford-blue-354e57);
        color: var(--rangitoto-2e2e22);
        opacity: 1;

        &:hover {
            background: var(--white-ffffff) 0% 0% no-repeat padding-box;
            border: 1px solid var(--oxford-blue-354e57);
            opacity: 1;
        }

        &.diabled {
            border: 1px solid var(--oxford-blue-354e57);
            background: var(--gray-e4ecef) 0% 0% no-repeat padding-box;
            opacity: 1; 
        }
    }

    &.btn-primary {
        background: var(--cape-palliser-a67744) 0% 0% no-repeat padding-box;
        border: 1px solid var(--brown-956a53);
        color: var(--white-ffffff);
        opacity: 1;

        &:hover {
            background: var(--brown-9a6b39) 0% 0% no-repeat padding-box;
            border: 1px solid var(--brown-956a53);
            opacity: 1;
        }

        &.disabled {
            background: var(--white-ffffff) 0% 0% no-repeat padding-box;
            border: 1px solid var(--brown-956a53);
            color: var(--brown-9a6b39);
            opacity: 1;
        }
    }

    &.btn-secondary {
        background: var(--oxford-blue-354e57) 0% 0% no-repeat padding-box;
        color: var(--white-ffffff);
        border-radius: 3px;
        opacity: 1;

        &:hover {
            background: var(--blue-2b434b) 0% 0% no-repeat padding-box;
        }

        &.disabled {
            background: var(--gray-b9c1c4) 0% 0% no-repeat padding-box;
            color: var(--oxford-blue-354e57);
        }
    }

    @media (max-width: 768px) {
        font-size: var(--unnamed-font-size-12);
    }
}

.form-input {
    background: var(--white-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--gray-bacad1);
    border-radius: 3px;
    box-shadow: none;
    padding: var(--unnamed-padding-8) var(--unnamed-padding-16);
    opacity: 1;

    &::placeholder {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--oxford-blue-354e57);
        opacity: 1;
    }
}